<log4net>
  <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="Log\\LogInfo\\" />
    <!-- 输出到什么目录-->
    <param name="AppendToFile" value="true" />
    <!-- 是否覆写到文件中-->

    <param name="StaticLogFileName" value="false" />
    <!-- 是否使用静态文件名-->
    <param name="DatePattern" value="yyyyMMdd&quot;.txt&quot;" />
    <!-- 日志文件名-->
    <param name="RollingStyle" value="Date" />
    <!--最小锁定模型以允许多个进程可以写入同一个文件-->
    <param name="lockingModel"  type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%n日志时间：%date %n日志级别：%-5p %nHostName：[%property{log4net:HostName}]  %n日志信息：%message %newline%newline "  />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG" />
      <levelMax value="INFO" />
    </filter>
  </appender>


  <appender name="ErrorFileAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="Log\\LogError\\" />
    <param name="AppendToFile" value="true" />

    <param name="StaticLogFileName" value="false" />
    <param name="DatePattern" value="yyyyMMdd&quot;.txt&quot;" />
    <param name="RollingStyle" value="Date" />
    <!--最小锁定模型以允许多个进程可以写入同一个文件-->
    <param name="lockingModel"  type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%n异常时间：%date  %n异常级别：%-5p %nnHostName：[%property{log4net:HostName}]%n当前机器名:%property%n当前机器名及登录用户：%username %n记录位置：%location%n 消息描述：%message%n 异常：%exception%n %newline%n%n"/>
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="ERROR" />
      <levelMax value="FATAL" />
    </filter>
  </appender>

  <root>
    <level value="ALL" />
    <appender-ref ref="LogFileAppender" />
    <appender-ref ref="ErrorFileAppender"/>
  </root>
</log4net>