<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="RabbitMQConfig" type="System.Configuration.SingleTagSectionHandler" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>


  <!--HostName:连接地址
  Port:端口
  PEPQueueName:队列名称
  UserName:用户名称
  PassWord:用户密码-->
  <RabbitMQConfig HostName="182.92.214.87" Port="5672" QueueName="MQTest1" UserName="pepuser" PassWord="gh001" />
  
</configuration>
